html {
  font-family: system, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f7df1e;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(4, 70, 196);
}

del a:link,
del a:visited {
  color: rgba(4, 70, 196, 0.36);
}
